@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&family=Poppins:wght@600&display=swap');

/*global*/
html {
  font-size: 10px;
  font-family: 'Roboto Mono', sans-serif;
}

body {
  background-color: var(--body-bg);
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: var(--body-bg-2);
  text-decoration: none;
}

p {
  color: var(--cor-texto);
  font-size: 2.0em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*botão*/

.button {
  margin-top: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.button svg {
  width: 50px;
  color: var(--body-bg-2);
  opacity: 0;
  animation: fade .3s ease-in forwards;
  animation-delay: 1s;
}

.button-primary {
  display: inline-block;
  background-color: var(--body-bg-2);
  color: var(--cor-texto);
  font-size: 1.8rem;
  padding: 0.6em 1.6em;
  border-radius: 50px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .button-primary .outline {
  background-color: transparent;
  color: rgb(57, 156, 0);
  border-radius: 50px;
  border: 2px solid rgb(174, 228, 174);
}

/*section*/
.section-heading {
  font-size: clamp(2rem, 10vw, 8rem);
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 0.2rem;
  text-align: center;
  position: relative;
  margin-bottom: 10rem;
  color: var(--cor-titulo);
}

.section-heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--body-bg-2);
  z-index: -1;
}

/* Variáveis */
:root {
  --cor-texto: white;
  --cor-titulo: #fdfe83;
  --cor-efeito: #91f7fb;
  --body-bg-2: #1d377f;
  --body-bg: #4faae1;
}


.header {
  text-align: center;
  margin: auto;
  background-color: var(--body-bg);
  font-family: 'Roboto mono';
}

.header_logo {
  width: 18em;
  height: auto;
}

#hamburguer {
  color: var(--cor-efeito);
  display: block;
  text-align: center;
  padding: 0.3em;
  cursor: pointer;
  font-size: 6em;
  font-family: 'Roboto mono';

}

.header_nav {
  background-color: var(--body-bg);
  display: none;
}

.header_nav.show {
  display: block;
}


ul {
  margin: 0;
}

.header_nav ul {
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 3.8em;
  font-family: 'Roboto mono';


}

.header_nav a {
  color: var(--body-bg-2);
  text-decoration: none;
  display: block;
  padding: 1em;
  font-family: 'Roboto mono';

}

.header_nav a:hover {
  background-color: color-mix(in srgb, --body-bg-2, #2428ae 50%);
  color: var(--cor-titulo);
}

@media screen and (min-width: 48em) {
  /*768px maior que*/

  #hamburguer {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(c);
  }


  .header_logo {
    margin-left: 2em;
    width: 16vh;
  }


  .header_nav {
    display: block;
  }


  .header_nav ul {
    margin-right: 2em;
    font-size: 2em;
    font-family: 'Roboto mono';

  }


  .header_nav li {
    display: inline-block;
  }


  .header_nav a {
    border-radius: 5px;
    font-family: 'Roboto mono';

  }


  .header_nav a:hover {
    background-color: var(--body-bg-2);
    color: #F2F2F2;
  }
}

.scroll-top {
  z-index: 100;
  width: 60px;
  height: 60px;
  background-color: var(--body-bg-2);
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 6px;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(71, 40, 182, 0.226);
  transform: scale(0.9);
  transition: 0.3s ease ease-in-out transform;
}

.scroll-top svg {
  width: 50%;
  color: var(--cor-titulo);
  pointer-events: none;
}


/*---------------------------------navigation-section---------------------------------*/
#navigation .nav-icon svg {
  display: none;
  width: 100%;
  color: var(--body-bg-2);
  background-color: antiquewhite;

}

.nav-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-right: 0;
  cursor: pointer;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
}

#nav-content ul {
  list-style: none;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  justify-content: flex-end;
}

#nav-content ul li {
  margin-left: 20px;
}

#nav-content ul li:first-child {
  margin-left: 0;
}

#nav-content ul li a {
  display: flex;
  align-items: center;
  color: var(--body-bg-2);
  font-size: 1.5rem;
  font-family: 'Montserrat';
  text-decoration: none;
  padding: 2rem;
}

#nav-content ul li a:hover {
  color: var(--cor-titulo);
  background-color: var(--body-bg-2);
  border-radius: 5px;
  transform: scale(1.1);

}

#nav-content ul li a:hover::after {
  opacity: 1;
  transform: scale(3) translateY(10px) rotate(90deg);
}

.section-headingnv {
  display: none;
}

#nav-content .close-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--body-bg-2);
  width: 40px;
  height: 40px;
  background-color: var(--body-bg-2);
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease background-color;
}

#nav-content .close-btn:hover {
  background-color: var(--cor-titulo);
}

#nav-content .close-btn svg {
  width: 80%;
}

@media only screen and (max-width: 578px) {
  #navigation {
    position: fixed;
    right: 50px;
    height: auto;
    top: 20px;
    z-index: 100;
  }

  #navigation .nav-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-right: -35px;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navigation .nav-icon svg {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav-content {
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 80%;
    max-width: 800px;
    height: 100%;
    z-index: 100;
    background-color: var(--body-bg-2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translateX(100%);
    transition: 0.3s ease transform;
  }

  #nav-content.show {
    transform: translateX(0);
    box-shadow: -6px 0px 29px 7px;
  }

  #nav-content .section-headingnv {
    text-align: left;
    color: var(--cor-titulo);
  }

  #nav-content .section-headingnv::before {
    -webkit-text-stroke: 1.5px var(--cor-titulo);
  }

  #nav-content .wrapper {
    flex-direction: column;
    display: flex;
    width: 70%;
    position: relative;
  }

  #nav-content ul {
    list-style: none;
    flex-direction: column;
    text-align: center;
  }

  #nav-content ul li {
    margin-bottom: 2rem;
  }

  #nav-content ul li a {
    width: 100%;
    color: var(--cor-titulo);
    font-size: 5rem;
    font-family: 'Montserrat';
    flex-direction: row-reverse;
    display: row-reverse;
  }

  #nav-content ul li a::after {
    flex-direction: row-reverse;
    display: row-reverse;
    pointer-events: none;
    position: relative;
    right: -150px;
    bottom: 30%;
    width: 100%;
    color: transparent;
    -webkit-text-stroke: 1.5px var(--body-bg-2);
    opacity: 0;
    transition: 0.3s ease;
    transition-property: opacity, transform;
    z-index: -1;
    text-align: center;
    transform: rotate(90deg) scale(3);
  }

  #nav-content ul li a:hover::after {
    opacity: 1;
    transform: scale(3) translateY(10px) rotate(90deg);
  }

  #nav-content .close-btn {
    display: flex;
    position: absolute;
    left: 10px;
    top: 10px;
    color: var(--body-bg);
    width: 40px;
    height: 40px;
    background-color: var(--body-bg-2);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease background-color;
  }

  #nav-content .close-btn:hover {
    background-color: var(--cor-titulo);
  }

  #nav-content .close-btn svg {
    width: 80%;
  }
}

/*---------------------------------Inicio-Style---------------------------------*/
#inicio {
  height: 100vh;
  width: 100%;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inicio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100% margin 0 auto;
  max-width: 1000px;
}

#inicio .container .left {
  flex: 6;
}

#inicio .container .right {
  flex: 8;
}

#inicio .left .heading .wrapper {
  display: inline-block;
  overflow: hidden;
}

#inicio .left .heading .wrapper span {
  position: relative;
  bottom: -70px;
  animation: reveal 1s ease-in-out forwards;
}

@keyframes reveal {
  0% {
    bottom: -70px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#inicio .left .sub-heading {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--cor-efeito);
  opacity: 0;
  animation: fade 0.3s ease-in forwards;
  animation-delay: 1s;
}

#inicio .left .heading {
  font-size: 8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: var(--cor-titulo);
}

#inicio .left .desc {
  margin-top: 2.5rem;
  max-width: 400px;
  font-size: 1.6rem;
  opacity: 0;
  animation: fade 0.3s ease-in forwards;
  animation-delay: 1s;
}

#inicio .left .button-primary {
  opacity: 0;
  animation: fade 0.3s ease-in forwards;
  animation-delay: 1s;
}

#inicio .right {
  text-align: right;
}

#inicio .right img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 12px;
  box-shadow: 0px 0px 20px var(--cor-efeito);
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 6px;
  }

  #inicio .container {
    flex-direction: column-reverse;
  }

  #inicio .container .right {
    text-align: center;
    flex: 1;
    margin-top: 2rem;
  }

  #inicio .container .right img {
    width: 80%;
    height: auto;
  }

  #inicio .container .left {
    text-align: center;
    padding: 0;
    flex: 1;
    height: fit-content;
  }

  #inicio .left .button {
    justify-content: center;
  }

  #inicio .container .left .sub-heading {
    font-size: 4rem;
    margin: 0 auto;
    color: var(--cor-titulo);
  }

  #inicio .container .left .desc {
    margin: 0 auto;
    margin-top: 2rem;
  }
}

/*---------------------------------elasnatechStyle---------------------------------*/
#elasnatech {
  padding: 15rem 0;
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;


}

#elasnatech .all-items {
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style: none;

}

#elasnatech .item {
  padding: 1.5rem;
  border-radius: 12px;
  transition: 0.3s ease background-color;
  margin: 2rem 0;

}

#elasnatech .item:hover {
  background-color: var(--body-bg-2);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#elasnatech .item .icone {
  width: 50px;
  height: 50px;
  padding: 0.8rem;
  background-color: var(--body-bg-2);
  ;
  border-radius: 50%;
  margin-top: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

#elasnatech .item-heading {
  font-weight: 500;
  font-size: 3rem;
  font-family: 'Roboto Mono', sans-serif;
  margin-bottom: 1.5rem;
  color: var(--cor-titulo);
}

#elasnatech .item-desc {
  color: var(--cor-texto);
  font-size: 1.6rem;

}

@media only screen and (max-width: 576px) {
  #elasnatech .all-items {
    flex-direction: column;
    text-align: center;
  }
}



/*---------------------------------Sobre-Style---------------------------------*/
#sobre {
  padding: 15rem 0;
}

#sobre .wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#sobre .left {
  padding: 2rem;
  text-align: center;
}

#sobre .left .card {
  box-shadow: 0px 0px 20px var(--cor-efeito);
  padding: 3rem;
  border-radius: 12px;
  min-width: 400px;
}

#sobre .left .card .img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#sobre .left .card img {
  object-fit: cover;
}

#sobre .left .card-desc {
  color: var(--cor-titulo);
  margin-bottom: 2rem;
}

#sobre .left .card .card-nome {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  color: var(--cor-texto);
}

#sobre .left .card .card-sub-heading {
  font-size: 1.4rem;
}

#sobre .sub-heading {
  color: var(--cor-titulo);
  margin-bottom: 2rem;
}

#sobre .right .slogan {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--cor-texto);
}

#sobre .right .rigth-texto {
  color: var(--cor-texto);
}

#sobre .button .outline {
  background-color: var(--body-bg-2);
  ;
  color: var(cor-texto);
  border-radius: 50px;
  border: 2px solid varvar(--body-bg-2);
}

@media only screen and (max-width: 576px) {
  #sobre .wrapper {
    flex-direction: column;
    text-align: center;
  }

  #sobre .left .card {
    min-width: auto;
  }

  #sobre .right .button {
    flex-direction: column;
  }

  #sobre .right .button a {
    width: 100%;
    text-align: center;
  }
}

/**boxatividades*/
/*box-atividades*/
#box-atividades .box-container {
  width: 100%;
  margin: 0 auto;
}

#box-atividades .icone {
  max-width: 50px;
  margin: 1.6rem auto;
  color: var(--cor-texto);

}

#box-atividades .all-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

#box-atividades .item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

#box-atividades .external-link {
  display: block;
  padding: 30px 20px;
  background-color: var(--body-bg-2);
  overflow: hidden;
  position: relative;
}

#box-atividades .external-link:hover,
#box-atividades .external-link:hover .desc-aula {
  text-decoration: none;
  color: var(--cor-texto);
}

#box-atividades .external-link:hover .atividades-aula {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

#box-atividades .atividades-aula-desc {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: var(--cor-texto);

  z-index: 2;
  position: relative;
}

#box-atividades .desc-aula-box {
  font-size: 25px;
  color: var(--cor-texto);

  z-index: 2;
  position: relative;
}

#box-atividades .desc-aula {
  font-size: 15px;
  font-weight: bold;
  color: var(--cor-efeito);

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

#box-atividades .atividades-aula {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#box-atividades .item:nth-child(2n) .atividades-aula {
  background-color: #3ecd5e;
}

#box-atividades .item:nth-child(3n) .atividades-aula {
  background-color: #e44002;
}

#box-atividades .item:nth-child(4n) .atividades-aula {
  background-color: #952aff;
}

#box-atividades .item:nth-child(5n) .atividades-aula {
  background-color: #cd3e94;
}

#box-atividades .item:nth-child(6n) .atividades-aula {
  background-color: #4c49ea;
}

@media only screen and (max-width: 576px) {
  #box-atividades .all-items {
    text-align: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #box-atividades .item {
    width: 100%;
  }

  #box-atividades .atividades-aula-desc {
    font-size: 15px;
    min-width: auto;

  }

  #box-atividades .external-link {
    flex-direction: column;
    width: 100%;

  }

  #box-atividades .desc-aula-box {
    font-size: 15px;
    width: 100%;
  }
}


/*---------------------------------Atividades-Style---------------------------------*/
#projetos {
  padding: 10rem 0;
}

#projetos .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15rem;

}

#projetos .item:nth-of-type(even) {
  flex-direction: row-reverse;
}

#projetos .item .left {
  flex: 1;
}

#projetos .item .right {
  background-color: var(--body-bg-2);
  margin-left: -150px;
  flex: 1;
  padding: 5rem 3rem;
  border-radius: 12px;
  box-shadow: 1px 5px 20px var(--cor-efeito);
  z-index: 2;
}

#projetos .item:nth-of-type(even) .right {
  margin-left: 0;
}

#projetos .item:nth-of-type(even) .left {
  margin-left: -150px;
}

#projetos .item .left .img {
  height: 400px;
  width: 400;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0px 0px 50px #ebe5e733;
  position: relative;
}

#projetos .item .left .img::after {
  content: '';
  position: absolute;
  left: 0;

  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000064;
}

#projetos .item .left .img img {
  object-fit: cover;
  transition: transform ease 0.3s ease;
}

#projetos .item:hover .left .img img {
  transform: scale(1.1);
  z-index: 1;
}

#projetos .item .right .projeto-heading {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  color: var(--cor-texto);
}

#projetos .item .right .projeto-sub-heading {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: var(--cor-efeito);
}

#projetos .item .right .projeto-desc {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  color: var(--cor-texto);
}

#projetos .item .right .external-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: calc(0.6em - 4px) calc(1.6em - 4px);
  background-color: var(--cor-texto);
  color: var(--body-bg-2);
  border-radius: 50px;
}

#projetos .item .right .external-link svg {
  width: 25px;
}

@media only screen and (max-width: 576px) {
  #projetos .item {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  #projetos .item .left,
  #projetos .item .right {
    width: 80%;
    margin-left: 0;
  }

  #projetos .item:nth-of-type(even) {
    flex-direction: column-reverse;
  }

  #projetos .img {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  #projetos .item .right .button {
    flex-direction: column;
  }

  #projetos .item .right .button a {
    width: 100%;
    text-align: center;
  }
}

/*---------------------------------Footer-Style---------------------------------*/
#footer {
  background-color: var(--body-bg-2);
  color: var(--cor-texto);
  padding: 10rem 0 5rem 0;
}

#footer footer {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#footer footer .col-1 {
  flex: 3;
}

#footer footer .col-2,
#footer footer .col-3,
#footer footer .col-4 {
  flex: 2;
}

#footer footer .col-4 {
  flex: 1;
}

#footer footer .col-1 .logo img {
  max-width: 100px;
  margin-bottom: 2rem;
}

#footer footer .col-1 p {
  color: var(--cor-texto);
}

#footer footer .coluna-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.5rem;
}

#footer footer ul {
  list-style: none;
}

#footer footer ul li {
  background-color: 4px;
}

#footer footer ul li a {
  display: inline-block;
  width: 100%;
  color: var(--cor-texto);
  font-size: 1.7rem;
  padding: 0.5rem;
}

#footer footer ul li:hover a {
  color: var(--cor-efeito);
}

#footer footer ul li:hover {
  background-color: black;
}

#footer footer .col-4 ul {
  display: inline-flex;
  flex-wrap: wrap;
}

#footer footer .col-4 ul li a {
  min-height: 50px;
}

@media only screen and (max-width: 576px) {
  #footer footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #footer footer .col-1,
  #footer footer .col-2,
  #footer footer .col-3,
  #footer footer .col-4 {
    width: 100%;
    margin-bottom: 3rem;
  }

  #footer footer .col-4 ul {
    width: fit-content;
    margin: 0 auto;
  }
}

/*---------------------------------Copyright-Style---------------------------------*/
#copyright {
  padding: 1rem 0;
  background-color: black;
  align-items: center;

}

#copyright p {
  color: var(--cor-texto);
  margin: 1rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 576px) {
  #copyright p {
    text-align: center;
  }
}